.conteiner {
  width: 1727px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0px;
  padding-left: 0px;
}

:root {
  --main-red: #dd2242;
  --blue---background: #010a20;
  --white: #fff;
  --text-lighten: #e0e0e0;
  --grey-reduced: #85a3b2;
  --light-text: rgba(21, 20, 57, 0.4);
  --paragraph-dark: #6f7787;
}

:root {
  --font-family: "DM Sans", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "FontAwesome", sans-serif;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  padding-top: 26px;
}

.header > .conteiner {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
  gap: 64px;
}

.header-logo {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 23px;
  line-height: 81%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--white);
  width: 167px;
  display: flex;
  align-items: end;
}

.logo-svg {
  width: 49px;
  height: 49px;
  fill: white;
}

.menu-list {
  display: flex;
  gap: 52px;
}

.menu-link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--white);
}

.header-svg {
  margin-left: 600px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.hero {
  background-image: url(../images/hero.png);
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-size: cover;
  max-width: 1920px;
  width: 100%;
  height: 1080px;
  position: relative;
}

.articles {
  background-image: url(../images/articles-back.jpg);
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1918px;
  display: flex;
  padding-top: 184px;
  padding-bottom: 305px;
}

.articles > .conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 102px;
}

.articles-1 {
  display: flex;
  gap: 130px;
  align-items: center;
}

.articles-2 {
  display: flex;
  gap: 130px;
  align-items: center;
}

.articless-img {
  width: 631px;
  height: 460px;
  gap: 130px;
  display: flex;
}

.articles-content {
  width: 479px;
}

.articles-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 119%;
  color: var(--white);
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.01em;
  color: var(--text-lighten);
}

.articless-btn {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--white);
  border-radius: 32px;
  padding: 16px 24px;
  width: 179px;
  height: 59px;
  background-color: var(--main-red);
}

.explore {
  background-image: url(../images/explore.png);
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  max-width: 1920px;
  padding-top: 127px;
  height: 2207px;
  position: relative;
}

.explore-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  text-align: center;
  color: var(--blue---background);
}

.numbers {
  background-image: url(../images/explore-bg.png);
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  max-width: 1920px;
  width: 100%;
  padding-top: 201px;
  padding-bottom: 225px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.num-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  text-align: center;
  color: var(--white);
  margin-bottom: 39px;
}

.num-tex {
  max-width: 484px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 39px;
  color: #e0e0e0;
}

.num-list {
  list-style: none;
  display: flex;
  text-align: center;
}

.num-item {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.item-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 117%;
  letter-spacing: 0.01em;
  color: #dd2242;
}

.item-tex {
  font-family: var(--font-family);
  font-weight: 400;
  max-width: 340px;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: var(--text-lighten);
}

.map {
  margin-left: auto;
  margin-right: auto;
}

.map-title {
  font-family: var(--font-family);
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  font-size: 42px;
  max-width: 614px;
  line-height: 119%;
  text-align: center;
  color: #000;
}

.map-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  max-width: 470px;
  line-height: 156%;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--paragraph-dark);
}

.map-button {
  border-radius: 122px;
  border: transparent;
  padding: 18.5px 56px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--white);
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.map-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 119%;
  text-align: center;
  color: #000;
  padding-top: 248px;
  padding-bottom: 274px;
}

.map-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--paragraph-dark);
}

.map-button {
  border-radius: 122px;
  padding: 16px 24px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--white);
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  padding-top: 179px;
  padding-bottom: 229px;
}

.gallery > .conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 150%;
  color: #010a20;
  text-align: center;
}

.gallery-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--paragraph-dark);
  width: 511px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 71px;
}

.about-us-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  color: var(--blue---background);
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 44px;
}

.about-us-images {
  width: 58.69px;
  height: 58.69px;
}

.about-us-title-1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 156%;
  color: var(--blue---background);
  margin-bottom: 28px;
}

.about-us-description {
  width: 1038.76px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 23px;
  line-height: 162%;
  color: var(--light-text);
}

.about-us-img {
  width: 249.42px;
  height: 165.79px;
  margin-top: 91px;
}

.about-us-boximg {
  display: flex;
  gap: 45px;
  align-items: center;
}

.about-us-box {
  display: flex;
  gap: 44px;
  margin-bottom: 79px;
}

.button-about-us {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--white);
  border-radius: 122px;
  padding: 16px 24px;
  background-color: #DD2242;
  border: none;
  cursor: pointer;
}

.button-about-us:hover,
.button-about-us:focus {
  color: #DD2242;
  background-color: aliceblue;
}

.about-us {
  background-color: #DCE8F2;
  padding-top: 119px;
  padding-bottom: 117px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=styles.css.map */