
li {
    list-style: none;
}

.list {
    padding: 0px;
    margin: 0px;
    list-style: none;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin-top: 0;
}

:root {
    --main-red: #dd2242;
    --blue---background: #010a20;
    --white: #fff;
    --text-lighten: #e0e0e0;
    --grey-reduced: #85a3b2;
    --light-text: rgba(21, 20, 57, 0.4);
    --paragraph-dark: #6f7787;
}

:root {
    --font-family: "DM Sans", sans-serif;
    --second-family: "Roboto", sans-serif;
    --third-family: "FontAwesome", sans-serif;
}

