.articles {
    background-image: url(../images/articles-back.jpg);
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

 .articless-img {
    width: 631px;
    height: 460px;
 }

.item {
    display: flex;
    &--indirect {
     flex-direction: row-reverse;

    }
}

.articles-title {
    color: white;
}

.text {
    color: white;
}

