.hero {
    background-image: url(../images/hero.png);
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-size: cover;
    max-width: 1920px;
    width: 100%;
    position: relative;
}

.hero-box {
    display: flex;

    @media screen and (min-width: 375px) {
        margin-top: 100px;
    }

    @media screen and (min-width: 1727px) {
        gap: 204px;
        margin-top: 136px;
    }
}

.hero-title {
    font-family: var(--second-family);
    font-weight: 900;

    line-height: 108%;
    text-transform: uppercase;
    color: var(--white);

    @media screen and (min-width: 375px) {
        font-size: 50px;
    }

    @media screen and (min-width: 1727px) {
        font-size: 120px;
        width: 627px;
        margin-top: 195px;
    }
}

.hero-button {
    border-radius: 211px;
    padding: 20px;
    width: 271px;
    background: var(--main-red);
    margin-top: 21px;
    padding: 26px 64px;
}

.hero-list {
    border: 1px solid #000;
    background: #000;
    opacity: 0.6;

    align-items: center;
    padding: 41px 128px 50px 70px;

    @media screen and (min-width: 375px) {
        width: 314px;
        height: 472px;
    }

    @media screen and (min-width: 1727px) {
        display: flex;
        justify-content: space-between;
        margin-top: 241px;
        width: 1225px;
        height: 210px;
        margin-left: 191px;
    }
}

.hero-span {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--main-red);
}

.hero-list > .item {
    width: 210px;
    height: 120px;
}

.hero-title2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 156%;
    color: var(--white);
}

.hero-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: #939393;
}

.palka-hero {
    width: 4px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.45);
    background: var(--main-red);

    @media screen and (min-width: 375px) {
        height: 100px;
    }

    @media screen and (min-width: 1727px) {
    }
}

.palka2-hero {
    width: 2px;

    background: var(--white), var(--white);

    @media screen and (min-width: 375px) {
    }

    @media screen and (min-width: 1727px) {
        height: 296px;
    }
}

.span-hero2 {
}

.photo-hero {
    background: linear-gradient(193deg, #000 0%, #000 100%);
}

.hero-box2 {
    @media screen and (min-width: 375px) {
    }

    @media screen and (min-width: 1727px) {
        display: flex;
    }
}

.photo-hero {
    width: 417px;
    height: 254px;

    @media screen and (min-width: 375px) {
    }

    @media screen and (min-width: 1727px) {
        margin-top: 195px;
    }
}
