.numbers {
    margin-left: auto;
    margin-right: auto;
}

.num-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 60px;
    line-height: 150%;
    color: var(--white);
}

.num-tex {
    max-width: 484px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
}

<<<<<<< HEAD
.num-list {
    list-style: none; 
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
=======
.numbers-list {}
>>>>>>> a30a2a60c050b88a2a70a77f6de62a8e2502713a

.num-item {

}

.item-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 42px;
    line-height: 117%;
    letter-spacing: 0.01em;
    color: #DD2242;
}

.item-tex {
    font-family: var(--font-family);
    font-weight: 400;
    max-width: 340px;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: var(--text-lighten);
}